<div class="bg-secondary w-full bg-home relative bg-home bg lg:py-0 py-10">
    <div class="container mx-auto">
        <div class="flex items-center justify-center lg:h-[533px] h-[300px]">

            <h3 class="home__title lg:text-[40px] text-3x1 mb-5 lg:mt-0 mt-2 text-left text-white ">
                VICATRONIC АВТОМАТИЧЕСКИЙ ПРИБОР
                ВИКА В ТРОПИЧЕСКОМ ИСПОЛНЕНИИ
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="bg-primary text-white lg:h-[155px] h-[300px] rounded-lg relative lg:top-[50px] items-center px-10 lg:px-20 py-5 grid lg:grid-cols-12">
            <h3 class="text-[30px] lg:col-span-10">Более 24 000 позиций в нашем каталоге</h3>
            <a href="catalog" class="btn btn-secondary lg:col-span-2 text-primary">
                перейти
            </a>

        </div>
    </div>


</div>