<div class="flex flex-col lg:my-10 bg-white hover:shadow-lg transition-all cursor-pointer">
    <img class="p-5" src="{{ 'assets/images/product.png' | theme }}" alt="">
    <h3 class="p-5">{{ record.name }} </h3>
  
  
  
   
        <button class="px-5 py-5 btn-product bg-white transition-all hover:bg-primary border-t border-lightGray hover:text-white w-full flex justify-between items-center">Подробнее

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>
        </button>
       
          
   
</div>